<section id="hero" style="background-image: url('assets/image/photo.jpg')">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <br>
    <br>
    <div class="container" style="width: 400px">
<div class="card">
  <div class="card-header">Creation Employe</div>
  <div class="card-body">


    <div class="form-group">
      <label for="nom">Nom</label>
      <input id="nom" type="text" class="form-control"  [(ngModel)]="employe.nom">
    </div>


    <div class="form-group">
      <label for="prenom">Prenom</label>
      <input id="prenom" type="text" class="form-control"  [(ngModel)]="employe.prenom">
    </div>

    <div class="form-group">
      <label for="cin">Cin</label>
      <input id="cin" type="text" class="form-control"  [(ngModel)]="employe.cin">
    </div>

  </div>
  <div class="card-footer">
    <button class="btn" style="background-color: lightsalmon" (click)="save()">Ajouter</button>
  </div>
</div>
      <br>
<app-employe-list></app-employe-list>
    </div>
  </div>
</section>
