<section id="hero" style="background-image: url('assets/image/photo.jpg')">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <br>
    <br>
    <div class="container" style="width: 400px">
<div class="card">
  <div class="card-header">Creation DemandeDeclaration</div>
  <div class="card-body">


    <div class="form-group">
      <label for="ref">Ref</label>
      <input id="ref" type="text" class="form-control"  [(ngModel)]="demandeDeclaration.ref">
    </div>


    <div class="form-group">
      <label for="dateDeclaration">DateDeclaration </label>
      <input id="dateDeclaration" type="date" class="form-control"  [(ngModel)]="demandeDeclaration.dateDeclaration">
    </div>

    <div class="form-group">
      <label for="totalPaye">TotalPaye</label>
      <input id="totalPaye" type="number" class="form-control"  [(ngModel)]="demandeDeclaration.totalPaye">
    </div>

    <div class="form-group">
      <label for="total">Total</label>
      <input id="total" type="number" class="form-control"  [(ngModel)]="demandeDeclaration.total">
    </div>

    <div class="form-group">
      <label for="totalEsps">TotalEspece</label>
      <input id="totalEsps" type="number" class="form-control"  [(ngModel)]="demandeDeclaration.totalEsps">
    </div>

    <div class="form-group">
      <label for="totalNonEsps">TotalNonEspece</label>
      <input id="totalNonEsps" type="number" class="form-control"  [(ngModel)]="demandeDeclaration.totalNonEsps">
    </div>

    <div class="form-group">
      <label for="categorieDeclaration">CategorieDeclaration</label>
      <input id="categorieDeclaration" type="text" class="form-control"  [(ngModel)]="demandeDeclaration.categorieDeclaration.code">
    </div>

    <div class="form-group">
      <label for="comptableDeclarant">ComptableDeclarant</label>
      <input id="comptableDeclarant" type="text" class="form-control"  [(ngModel)]="demandeDeclaration.comptableDeclarant.cin">
    </div>

    <div class="form-group">
      <label for="comptableVerifiant">ComptableVerifiant</label>
      <input id="comptableVerifiant" type="text" class="form-control"  [(ngModel)]="demandeDeclaration.comptableVerifiant.cin">
    </div>

    <div class="form-group">
      <label for="Societe">Societe</label>
      <input id="Societe" type="text" class="form-control"  [(ngModel)]="demandeDeclaration.societe.ice">
    </div>


  </div>
  <div class="card-footer">
    <button class="btn" style="background-color: lightsalmon" (click)="save()">Valider</button>
  </div>
</div>
      <br>
    </div>
    <app-demandeDeclaration-list></app-demandeDeclaration-list>

  </div>
</section>
