<section id="hero" style="background-image: url('assets/image/photo.jpg')">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <br>
    <br>
    <div class="container" style="width: 400px">
<div class="card">
  <div class="card-header">Creation CategorieSociete</div>
  <div class="card-body">


    <div class="form-group">
      <label for="code">Code</label>
      <input id="code" type="text" class="form-control"  [(ngModel)]="categoriesociete.code">
    </div>


    <div class="form-group">
      <label for="libelle">Libelle</label>
      <input id="libelle" type="text" class="form-control"  [(ngModel)]="categoriesociete.libelle">
    </div>

  </div>
  <div class="card-footer">
    <button class="btn" style="background-color: lightsalmon" (click)="save()">Ajouter</button>
  </div>
</div>
      <br>
<app-categoriesociete-list></app-categoriesociete-list>
    </div>
  </div>
</section>
