<section id="hero" style="background-image: url('assets/image/photo.jpg')">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <br>
    <br>
    <div class="container" style="width: 400px">
<div class="card">
  <div class="card-header">Creation DeclarationIR</div>
  <div class="card-body">


    <div class="form-group">
      <label for="code">Code</label>
      <input id="code" type="text" class="form-control"  [(ngModel)]="declarationIR.code">
    </div>


    <div class="form-group">
      <label for="totalTaxe">TotalTaxe </label>
      <input id="totalTaxe" type="number" class="form-control"  [(ngModel)]="declarationIR.totalTaxe">
    </div>

    <div class="form-group">
      <label for="salaireTotalNet">SalaireTotalNet</label>
      <input id="salaireTotalNet" type="number" class="form-control"  [(ngModel)]="declarationIR.salaireTotalNet">
    </div>

    <div class="form-group">
      <label for="salaireTotalBrute">SalaireTotalBrute</label>
      <input id="salaireTotalBrute" type="number" class="form-control"  [(ngModel)]="declarationIR.salaireTotalBrute">
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      <input id="date" type="date" class="form-control"  [(ngModel)]="declarationIR.date">
    </div>

    <div class="form-group">
      <label for="declarationIRdetailles">DeclarationIRdetailles </label>
      <input id="declarationIRdetailles" type="text" class="form-control"  [(ngModel)]="declarationIR.declarationIRdetailles">
    </div>


  </div>
  <div class="card-footer">
    <button class="btn" style="background-color: lightsalmon" (click)="save()">Valider</button>
  </div>
</div>
      <br>
    </div>
    <app-declarationIR-list></app-declarationIR-list>

  </div>
</section>
