<section id="hero" style="background-image: url('assets/image/photo.jpg')">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
<br>
<br>
    <div class="container" style="width: 400px">
<div class="card">
  <div class="card-header">Creation TauxIR</div>
  <div class="card-body">

    <div class="form-group">
      <label for="libelle">Libelle</label>
      <input id="libelle" type="text" class="form-control"  [(ngModel)]="tauxIR.libelle">
    </div>

    <div class="form-group">
      <label for="pourcentage">Pourcentage</label>
      <input id="pourcentage" type="number" class="form-control"  [(ngModel)]="tauxIR.pourcentage">
    </div>


    <div class="form-group">
      <label for="salaireMin">SalaireMin </label>
      <input id="salaireMin" type="number" class="form-control"  [(ngModel)]="tauxIR.salaireMin">
    </div>

    <div class="form-group">
      <label for="salaireMax">SalaireMax</label>
      <input id="salaireMax" type="number" class="form-control"  [(ngModel)]="tauxIR.salaireMax">
    </div>

  </div>
  <div class="card-footer">
    <button class="btn" style="background-color: lightsalmon" (click)="save()">Valider</button>
  </div>
</div>
      <br>
    </div>
    <app-tauxIR-list></app-tauxIR-list>
  </div>

</section>
