<section id="hero" style="background-image: url('assets/image/photo.jpg')">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <br>
    <br>
    <div class="container" style="width: 400px">
<div class="card">
  <div class="card-header">Creation Societe</div>
  <div class="card-body">


    <div class="form-group">
      <label for="ice">Ice</label>
      <input id="ice" type="text" class="form-control"  [(ngModel)]="societe.ice">
    </div>


    <div class="form-group">
      <label for="libelle">Libelle </label>
      <input id="libelle" type="text" class="form-control"  [(ngModel)]="societe.libelle">
    </div>

    <div class="form-group">
      <label for="categorieSociete">CategorieSociete</label>
      <input id="categorieSociete" type="text" class="form-control"  [(ngModel)]="societe.categorieSociete.categorie_societe_id">
    </div>

  </div>
  <div class="card-footer">
    <button class="btn" style="background-color: lightsalmon" (click)="save()">Ajouter</button>
  </div>
</div>
      <br>
<app-societe-list></app-societe-list>
    </div>
  </div>
</section>
