<section id="hero" style="background-image: url('assets/image/photo.jpg')">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <br>
    <br>
    <div class="container" style="width: 400px">
<div class="card">
  <div class="card-header">Creation DeclarationIRdetailles</div>
  <div class="card-body">


    <div class="form-group">
      <label for="code">Code</label>
      <input id="code" type="text" class="form-control"  [(ngModel)]="declarationIRdetailles.code">
    </div>


    <div class="form-group">
      <label for="employe">Employe </label>
      <input id="employe" type="text" class="form-control"  [(ngModel)]="declarationIRdetailles.employe.id">
    </div>

    <div class="form-group">
      <label for="declarationIR">DeclarationIR</label>
      <input id="declarationIR" type="text" class="form-control"  [(ngModel)]="declarationIRdetailles.declarationIR.code">
    </div>

    <div class="form-group">
      <label for="salaireEmployeNet">SalaireEmployeNet</label>
      <input id="salaireEmployeNet" type="number" class="form-control"  [(ngModel)]="declarationIRdetailles.salaireEmployeNet">
    </div>

    <div class="form-group">
      <label for="salaireEmployeBrute">SalaireEmployeBrute</label>
      <input id="salaireEmployeBrute" type="number" class="form-control"  [(ngModel)]="declarationIRdetailles.salaireEmployeBrute">
    </div>

    <div class="form-group">
      <label for="montantIR">MontantIR</label>
      <input id="montantIR" type="number" class="form-control"  [(ngModel)]="declarationIRdetailles.montantIR">
    </div>

    <div class="form-group">
      <label for="tauxIR">TauxIR</label>
      <input id="tauxIR" type="text" class="form-control"  [(ngModel)]="declarationIRdetailles.tauxIR.id">
    </div>

    <div class="form-group">
      <label for="demandeDeclaration">DemandeDeclaration</label>
      <input id="demandeDeclaration" type="text" class="form-control"  [(ngModel)]="declarationIRdetailles.demandeDeclaration.id">
    </div>


  </div>
  <div class="card-footer">
    <button class="btn  " style="background-color: lightsalmon" (click)="save()">Ajouter</button>
  </div>
</div>
      <br>
    </div>
    <app-declarationIRdetailles-list></app-declarationIRdetailles-list>

  </div>
</section>


