<div class="card">

<table class="table table-bordered table-hover" *ngIf="declarationfactures.length !=0">
  <thead>
  <th>Reference</th>
  <th>Demande Declaration</th>
  <th>Montant TTC</th>
  <th>TVA</th>
  <th>Montant  HT</th>
  <th>Date Facture</th>
  <th>Type Facture</th>
  <th>Action</th>
  </thead>
  <tbody>
  <tr *ngFor="let df of declarationfactures; index as i">
    <td>{{df.ref}}</td>
    <td>{{df.demandeDeclaration}}</td>
    <td>{{df.montantTTC}}</td>
    <td>{{df.tva}}</td>
    <td>{{df.montantHT}}</td>
    <td>{{df.dateFacture}}</td>
    <td>{{df.typeFacture}}</td>
    <td><span (click)="deleteByTypeFactureref(df, i)" class="fa fa-trash btn btn-sm"></span></td>
  </tr>
  </tbody>
</table>

</div>
<br>
<div class="container">
  <input class="form-control" type="text" placeholder="Search" [(ngModel)]="declarationfacture">
  <table class="table table-hover table-striped bg-light table"   >
    <thead>
    <th>Reference</th>
    <th>Demande Declaration</th>
    <th>Montant TTC</th>
    <th>TVA</th>
    <th>Montant  HT</th>
    <th>Date Facture</th>
    <th>Type Facture</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let cc of declarationfactures| search: declarationfacture">
      <td>{{cc.ref}}</td>
      <td>{{cc.demandeDeclaration}}</td>
      <td>{{cc.montantTTC}}</td>
      <td>{{cc.tva}}</td>
      <td>{{cc.montantHT}}</td>
      <td>{{cc.dateFacture}}</td>
      <td>{{cc.typeFacture}}</td>
    </tr>
    </tbody>
  </table>
</div>
