<section id="hero" style="background-image: url('assets/image/photo.jpg')">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <br>
    <br>
    <div class="container" style="width: 400px">
<div class="card">
  <div class="card-header">Creation CategorieDeclaration</div>
  <div class="card-body">


    <div class="form-group">
      <label for="code">Code</label>
      <input id="code" type="text" class="form-control"  [(ngModel)]="categoriedeclaration.code">
    </div>


    <div class="form-group">
      <label for="DateMin">Date Min</label>
      <input id="DateMin" type="date" class="form-control"  [(ngModel)]="categoriedeclaration.dateMin">
    </div>

    <div class="form-group">
      <label for="DateMax">Date Max</label>
      <input id="DateMax" type="date" class="form-control"  [(ngModel)]="categoriedeclaration.dateMax">
    </div>
    <div class="form-group">
      <label for="PrixParFacture">Prix Par Facture</label>
      <input id="PrixParFacture" type="number" class="form-control"  [(ngModel)]="categoriedeclaration.prixParFac">
    </div>

    <div class="form-group">
      <label for="Libelle">Libelle</label>
      <input id="Libelle" type="text" class="form-control"  [(ngModel)]="categoriedeclaration.libelle">
    </div>



  </div>
  <div class="card-footer">
    <button class="btn"  style="background-color: lightsalmon"(click)="save()">Ajouter</button>
  </div>
</div>
<br>
    </div>
    <app-categoriedeclaration-list></app-categoriedeclaration-list>

  </div>
</section>
