<div class="card">

<table class="table table-bordered table-hover" *ngIf="societes.length !=0">
  <thead>
  <th>ice</th>
  <th>libelle</th>
  <th>categorieSociete</th>
  <th>Action</th>
  </thead>
  <tbody>
  <tr *ngFor="let df of societes; index as i">
    <td>{{df.ice}}</td>
    <td>{{df.libelle}}</td>
    <td>{{df.categorieSociete}}</td>
    <td><span (click)="deleteByIce(df, i)" class="fa fa-trash btn btn-sm"></span></td>
  </tr>
  </tbody>
</table>
</div>

<br>
  <div class="container">
    <input class="form-control" type="text" placeholder="Search" [(ngModel)]="societe">
    <table class="table table-hover table-striped bg-light table"   >
      <thead>
      <th>ice</th>
      <th>libelle</th>
      <th>categorieSociete</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let df of societes| search: societe">
        <td>{{df.ice}}</td>
        <td>{{df.libelle}}</td>
        <td>{{df.categorieSociete}}</td>
      </tr>
      </tbody>
    </table>
  </div>
