<div class="card">

<table class="table table-bordered table-hover" *ngIf="categoriecomptables.length !=0" >
  <thead>
  <th>Code</th>
  <th>Libelle</th>
  <th>Action</th>
  </thead>
  <tbody>
  <tr *ngFor="let cc of categoriecomptables; index as i ">
    <td>{{cc.code}}</td>
    <td>{{cc.libelle}}</td>
    <td><span (click)="deleteByCode(cc, i)" class="fa fa-trash btn btn-sm"></span></td>
  </tr>
  </tbody>
</table>
</div>

<br>
  <div class="container">
    <input class="form-control" type="text" placeholder="Search" [(ngModel)]="categoriecomptable">
    <table class="table table-hover table-striped bg-light table"   >
      <thead>
      <th>Code</th>
      <th>Libelle</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let cc of categoriecomptables| search: categoriecomptable">
        <td>{{cc.code}}</td>
        <td>{{cc.libelle}}</td>
      </tr>
      </tbody>
    </table>
  </div>
